<%= render partial: "layouts/nav", locals: {items: ["About", "Categories", "Contact"]} %>
<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1 id="homeHeading">What do you want to recycle?</h1>
      <hr>
      <form class="searchForm">
        <input class="searchTerm" name="search" placeholder="Enter zipcode, city or item" autocomplete="off">
        <button class="searchBtn">
          <i class="fa fa-search searchIcon"></i>
      </form>
    </div>
  </div>
</header>

<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">About us</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-search text-primary sr-icons"></i>
          <h3>Search with Ease</h3>
          <p class="text-muted">TODO: Search description</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
          <h3>Comprehensive Data</h3>
          <p class="text-muted">TODO: Data description</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-map-marker text-primary sr-icons"></i>
          <h3>Facilities on Map</h3>
          <p class="text-muted">TODO: Map description</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-edit text-primary sr-icons"></i>
          <h3>Customizable</h3>
          <p class="text-muted">TODO: Edit description</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="no-padding" id="categories">
  <div class="container-fluid">
    <div class="row no-gutter popup-gallery">
      <div class="col-lg-4 col-sm-6">
        <a href="<%= image_url('portfolio/fullsize/1.jpg') %>" class="portfolio-box">
          <%= image_tag "portfolio/thumbnails/1.jpg", class: "img-responsive" %>
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="<%= image_url('portfolio/fullsize/2.jpg') %>" class="portfolio-box">
          <%= image_tag "portfolio/thumbnails/2.jpg", class: "img-responsive" %>
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="<%= image_url('portfolio/fullsize/3.jpg') %>" class="portfolio-box">
          <%= image_tag "portfolio/thumbnails/3.jpg", class: "img-responsive" %>
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="<%= image_url('portfolio/fullsize/4.jpg') %>" class="portfolio-box">
          <%= image_tag "portfolio/thumbnails/4.jpg", class: "img-responsive" %>
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="<%= image_url('portfolio/fullsize/5.jpg') %>" class="portfolio-box">
          <%= image_tag "portfolio/thumbnails/5.jpg", class: "img-responsive" %>
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="<%= image_url('portfolio/fullsize/6.jpg') %>" class="portfolio-box">
          <%= image_tag "portfolio/thumbnails/6.jpg", class: "img-responsive" %>
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section id="contact" class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Let's Get In Touch!</h2>
        <hr class="primary">
        <p>Ready to start recycling with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
      </div>
      <div class="col-lg-4 col-lg-offset-2 text-center">
        <i class="fa fa-phone fa-3x sr-contact"></i>
        <p>123-456-6789</p>
      </div>
      <div class="col-lg-4 text-center">
        <i class="fa fa-envelope-o fa-3x sr-contact"></i>
        <p><a href="mailto:your-email@your-domain.com">feedback@startbootstrap.com</a></p>
      </div>
    </div>
  </div>
</section>
