<%= render partial: "layouts/nav", locals: {items: ["Categories", "Facilities", "Contact"], shouldShow: true, shouldShowDevelopers: true, useFixedNav: true} %>

<div class="page-top-padding"></div>

<section class="results-container">
  <h3>Cities</h3>
  <ul class="list-unstyled">
    <% if @cities.size == 0 %>
      <h5 class="no-results">No results</h5>
    <% else %>
      <% @cities.each do |city| %>
        <li class="result-list-item">
          <a href="/cities/<%= city.id %>" class="black-link">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="media">
                  <div class="media-left media-middle">
                    <%= image_tag "city.image_link.url", class: "media-object result-image" %>
                  </div>
                  <div class="media-body">
                    <h5><b><%= city.name %></b></h5>
                    <%= city.description %>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </li>
      <% end %>
    <% end %>
  </ul>
</section>

<section class="results-container">
  <h3>Categories</h3>
  <ul class="list-unstyled">
    <% if @categories.size == 0 %>
      <h5 class="no-results">No results</h5>
    <% else %>
      <% @categories.each do |category| %>
        <li class="result-list-item">
          <a href="/categories/<%= category.id %>" class="black-link">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="media">
                  <div class="media-left media-middle">
                    <%= image_tag "categories/thumbnails/#{category.image_link}", class: "media-object result-image" %>
                  </div>
                  <div class="media-body">
                    <h5><b><%= category.name %></b></h5>
                    <%= category.description %>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </li>
      <% end %>
    <%end %>
  </ul>
</section>

<section class="results-container">
  <h3>Subcategories</h3>
  <ul class="list-unstyled">
    <% if @subcategories.size == 0 %>
      <h5 class="no-results">No results</h5>
    <% else %>
      <% @subcategories.each do |subcategory| %>
        <li class="result-list-item">
          <a href="/categories/<%= subcategory.category_id %>" class="black-link">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="media">
                  <div class="media-body">
                    <h5><b><%= subcategory.name %></b></h5>
                    <%= subcategory.description %>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </li>
      <% end %>
    <%end %>
  </ul>
</section>

<%= render partial: "layouts/footer" %>