<%= render partial: "layouts/nav", locals: {items: ["Categories", "Facilities", "Contact"], shouldShow: true, shouldShowDevelopers: false, useFixedNav: false} %>
<header class="city-header"
        style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(<%= asset_path "#{@city.image_link}" %>)">
  <div class="header-content">
    <div class="header-content-inner">
      <h1 id="homeHeading"><%= @city.name %></h1>
      <div id="homeSubHeading">
        <span><%= @city.state %></span> | <span><%= @city.zipcode %></span>
      </div>
      <hr>
      <div id="homeDescription"><%= @city.description %></div>
      <h4>
        <i class="fa fa-external-link" aria-hidden="true" style="margin-right: 5px"></i>
        <a href="<%= @city.website %>">Goto Official Recycling Website</a>
      </h4>
    </div>
  </div>
</header>

<section class="city-slider-container">
  <div class="container category-title-container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Recyclable Categories</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="flexslider city-flexslider">
      <ul class="slides">
        <% @categories.each do |category| %>
          <li><div class="portfolio-box">
            <button id="category-<%= category.name.downcase %>" class="button-as-link">
              <%= image_tag "categories/thumbnails/#{category.image_link}", class: "img-responsive" %>
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-name">
                    <%= category.name %>
                  </div>
                </div>
              </div>
            </button>
          </div>

          </li>
        <% end %>
      </ul>
  </div>
</section>

<section class="city-category-container">
  <% @categories.each do |category| %>
  <div id="category-<%= category.name.downcase %>-details" class="category-details">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Description</th>
      </tr>
      </thead>
      <% City.find_subcategories_by_id(@city.id, category.id).each_with_index do |subcategory, index| %>
          <tr>
            <th scope="row"><%= index + 1 %></th>
            <td><%= subcategory.name %></td>
            <td><%= subcategory.description %></td>
          </tr>
      <% end %>
    </table>
  </div>
  <% end %>
</section>

<section class="facility-map">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Facilities</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div id="map"></div>
</section>

<% if @city.city_contacts.length > 0 %>
<section class="city-files-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Additional Contacts</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Email/Phone</th>
    </tr>
    </thead>
    <% @city.city_contacts.each_with_index do |contact, index| %>
        <tr>
          <th scope="row"><%= index + 1 %></th>
          <td><%= contact.name %></td>
          <td><%= contact.contact %></td>
        </tr>
    <% end %>
  </table>
</section>
<% end %>

<% if @filesJSON.size > 0 %>
<section class="city-files-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Additional Files</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>File</th>
      </tr>
      </thead>
      <% for i in 0..(@filesJSON.size-1) %>
          <tr>
            <th scope="row"><%= i+1 %></th>
            <td>
              <a class="black-link" href="<%= @filesJSON[i].file.file %>"><%= @filesJSON[i].file.file.split('/')[-1] %></a>
            </td>
          </tr>
      <% end %>
    </table>
</section>
<% end %>

<%= render partial: "layouts/footer" %>
