<%= render partial: "layouts/nav", locals: {items: ["Categories", "Facilities", "Contact"], shouldShow: true, shouldShowDevelopers: false} %>
<header class="city-header"
        style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(<%= asset_path "cities/#{@city.image_link}" %>)">
  <div class="header-content">
    <div class="header-content-inner">
      <h1 id="homeHeading">Claremont</h1>
      <hr>
    </div>
  </div>
</header>

<section class="city-slider-container">
  <div class="container category-title-container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Recyclable Categories</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="flexslider city-flexslider">
      <ul class="slides">
        <% @categories.each do |category| %>
          <li><div class="portfolio-box">
            <button id="category-<%= category.name.downcase %>" class="button-as-link">
              <%= image_tag "categories/thumbnails/#{category.image_link}", class: "img-responsive" %>
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-name">
                    <%= category.name %>
                  </div>
                </div>
              </div>
            </button>
          </div>

          </li>
        <% end %>
      </ul>
  </div>
</section>

<section class="city-category-container">
  <% @categories.each do |category| %>
  <div id="category-<%= category.name.downcase %>-details" class="category-details">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Description</th>
      </tr>
      </thead>
      <% City.find_subcategories_by_id(@city.id, category.id).each_with_index do |subcategory, index| %>
          <tr>
            <th scope="row"><%= index + 1 %></th>
            <td><%= subcategory.name %></td>
            <td><%= subcategory.description %></td>
          </tr>
      <% end %>
    </table>
  </div>
  <% end %>
</section>

<section class="facility-map">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Facilities</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div id="map"></div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <script>
    function initMap() {
      var geocoder = new google.maps.Geocoder();
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 12
      });
      var centerDidSet = false

      var infoWindow = new google.maps.InfoWindow;

      // Add a marker clusterer to manage the markers.
      var markerCluster = new MarkerClusterer(map, null,
        {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});

      var url = window.location.href;
      var id = url.split("/").pop().split("?")[0]
      var getURL = "../api/v1/cities/" + id + "/facilities"
      $.getJSON(getURL, function(data) {
        var facilities = data["facilities"]
        facilities.map(function(facility) {
          var name = facility["name"];
          var streetAddress = facility["street_address"];
          var zipcode = facility["zipcode"];
          var phoneNumber = facility["phone_number"];
          var website = facility["website"];
          geocoder.geocode({address: streetAddress}, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
              var location = results[0].geometry.location;
              if (!centerDidSet) {
                map.setCenter(location);
                centerDidSet = true
              }

              var marker = new google.maps.Marker({
                position: location,
              });

              var infowincontent = document.createElement('div');
              var titleElement = document.createElement('strong');
              titleElement.textContent = name
              infowincontent.appendChild(titleElement);
              infowincontent.appendChild(document.createElement('br'));
              if (phoneNumber != null) {
                var phoneElement = document.createElement('text');
                phoneElement.textContent = phoneNumber
                infowincontent.appendChild(phoneElement);
                infowincontent.appendChild(document.createElement('br'));
              }
              if (website != null) {
                var websiteElement = document.createElement('a');
                websiteElement.textContent = website
                websiteElement.href = "http://" + website
                infowincontent.appendChild(websiteElement);
                infowincontent.appendChild(document.createElement('br'));
              }
              var addressElement = document.createElement('text');
              addressElement.textContent = streetAddress
              infowincontent.appendChild(addressElement);

              marker.addListener('click', function() {
                infoWindow.setContent(infowincontent);
                infoWindow.open(map, marker);
              });

              markerCluster.addMarker(marker);
            }
          });
        });
      });
    }
  </script>
  <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
  </script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCaWUYyz0sFWLlxktQUuGQtj0Hmg1QMEIk&callback=initMap">
  </script>
</section>

<section id="contact" class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Let's Get In Touch!</h2>
        <hr class="primary">
        <p>(Ready to recyle with us?) Having issue and getting mad with our product? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
      </div>
      <div class="col-lg-4 col-lg-offset-2 text-center">
        <i class="fa fa-phone fa-3x sr-contact"></i>
        <p>Michael's phone number</p>
      </div>
      <div class="col-lg-4 text-center">
        <i class="fa fa-envelope-o fa-3x sr-contact"></i>
        <p><a href="mailto:your-email@your-domain.com">ycai@hmc.edu</a></p>
      </div>
    </div>
  </div>
</section>
<%= render partial: "layouts/footer" %>
