<%= render partial: "layouts/nav", locals: {items: ["Categories", "Facilities", "Contact"], shouldShow: true} %>
<header class="city-header"
        style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(<%= asset_path "cities/#{@city.image_link}" %>)">
  <div class="header-content">
    <div class="header-content-inner">
      <h1 id="homeHeading">Claremont</h1>
      <hr>
    </div>
  </div>
</header>

<section class="city-slider-container">
  <div class="container category-title-container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Recyclable Categories</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="flexslider city-flexslider">
      <ul class="slides">
        <% @categories.each do |category| %>
          <li><div class="portfolio-box">
            <button id="category-<%= category.name.downcase %>" class="button-as-link">
              <%= image_tag "categories/thumbnails/#{category.image_link}", class: "img-responsive" %>
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-name">
                    <%= category.name %>
                  </div>
                </div>
              </div>
            </button>
          </div>

          </li>
        <% end %>
      </ul>
  </div>
</section>

<section class="category-container">
  <% @categories.each do |category| %>
  <div id="category-<%= category.name.downcase %>-details" class="category-details">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Description</th>
      </tr>
      </thead>
      <% City.find_subcategories_by_id(@city.id, category.id).each_with_index do |subcategory, index| %>
          <tr>
            <th scope="row"><%= index + 1 %></th>
            <td><%= subcategory.name %></td>
            <td><%= subcategory.description %></td>
          </tr>
      <% end %>
    </table>
  </div>
  <% end %>
</section>

<section class="facility-map">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Facilities</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div id="map"></div>
  <script>
    function initMap() {

      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 14,
        center: {lat: 34.106, lng: -117.711}
      });

      var infoWindow = new google.maps.InfoWindow;

      // Add some markers to the map.
      // Note: The code uses the JavaScript Array.prototype.map() method to
      // create an array of markers based on a given "locations" array.
      // The map() method here has nothing to do with the Google Maps API.
      var markers = locations.map(function(location, i) {
        return new google.maps.Marker({
          position: location[0],
          label: (i+1).toString()
        });
      });

      // Add a marker clusterer to manage the markers.
      var markerCluster = new MarkerClusterer(map, markers,
          {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
    }
    var locations = [
      [{lat: 34.113687, lng: -117.697283}, "Claremont Residential Recycling Center"]
    ]
  </script>
  <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
  </script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCaWUYyz0sFWLlxktQUuGQtj0Hmg1QMEIk&callback=initMap">
  </script>
</section>

<section id="contact" class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Let's Get In Touch!</h2>
        <hr class="primary">
        <p>(Ready to recyle with us?) Having issue and getting mad with our product? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
      </div>
      <div class="col-lg-4 col-lg-offset-2 text-center">
        <i class="fa fa-phone fa-3x sr-contact"></i>
        <p>Michael's phone number</p>
      </div>
      <div class="col-lg-4 text-center">
        <i class="fa fa-envelope-o fa-3x sr-contact"></i>
        <p><a href="mailto:your-email@your-domain.com">ycai@hmc.edu</a></p>
      </div>
    </div>
  </div>
</section>
